spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ktb?serverTimezone=UTC&useSSL=false
    username: root
    password: dana938524
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: update   # 개발 중에는 create / create-drop / update 중 선택
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

cloud:
  aws:
      credentials:
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
      region:
        static: ${S3_REGION}
      stack:
        auto: false
      s3:
        bucketName: ${S3_BUCKET_NAME}
